<h1>The Post</h1>
  <div id="box_text">
  <strong>Title:</strong>
  <%= @post.title %><br />
  <strong>Text:</strong>
  <%= @post.text %><br />
  </div>

<h2>Opinions</h2>
<% @post.opinions.each do |opinion| %>
   <div id="box">
    <strong>Opinionator:</strong>
    <%= opinion.opinionator %><br />
    <strong>Opinion:</strong>
    <%= opinion.body %><br />
  </div>
<% end %>

<h2>Add an opinion:</h2>
<%= form_for([@post, @post.opinions.build]) do |f| %>
    <%= f.label :opinionator %>
    <%= f.text_field :opinionator %>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= f.submit %>
<% end %>
