<header class="header_contain">
       <div class= "logo">
         <%= image_tag("images.jpeg", :alt => "LOGO") %>
       </div>
         <nav>
            <ul>

             <li><%= link_to "home", pages_home_path %></li>
             <li><%= link_to "about", pages_about_path %></li>
             <li><%= link_to "chemistry", pages_chemistry_path %></li>
             <li><%= link_to "discussions", pages_discussions_path %></li>
             <li><%= link_to "other", pages_other_path %></li>

            </ul>
         </nav>
</header>
